@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

.bg-custom1 {
  background-color: #252933;
}

.bg-custom2 {
  background-color: #131419;
}

.comforter-brush-regular {
  font-family: "Comforter Brush", serif;
  font-weight: 600;
  font-style: normal;
}

.darumadrop-one-regular {
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker";
  /* font-style: normal; */
}
